body {
  background-color: #5e8eba;
}

h1 {
  text-align: center;
  color: #fbc414;
}

p {
  text-align: center;
  margin: 30px;
  margin-bottom: 50px;
  color: #fbc414;
  line-height: 1.4;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  border: solid white;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
  color: white;
}

footer a {
  margin: 0 10px;
  color: #fbc414;
}

a:visited {
  color: #fbc414;
}
