h1 {
  text-align: center;
}

p {
  margin: 30px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

img {
  max-width: 100%;
  height: auto;
}
